@using BerrasBio.ViewModels
@model BerrasBio.Models.Show
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Boka";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.MovieID">Tillbaka</a>

<div id="background-poster" class="bg-image"
     style="background-image: url('../../@Model.Movie.Image_Source') ">
</div>

<div>
    <div>
        <img id="poster" src="../../@Model.Movie.Image_Source">
        <h4 style="color: white;" class="p-2 px-3 text-uppercase">@Model.Movie.Title</h4>
        <h6 style="color: white;" class="p-2 px-3 text-uppercase"> @Model.Saloon.Name</h6>
        <p style="color: white;" class="p-2 px-3 text-uppercase">

            @{
                var daysUntilShow = (DateTime.Today - Model.ShowTime.Date).TotalDays;
                @if (daysUntilShow == 0)
                {
                    @:Idag
                }
                else if (daysUntilShow == -1)
                {
                    @:Imorgon
                }
                else if (daysUntilShow >= -6)
                {
                    string showTime = Model.ShowTime.Date.ToString("dddd");
                    string showDay = showTime.Substring(0, 1).ToUpper() + showTime.Substring(1, showTime.Length - 1);
                    @showDay
                }
                else
                {
                    @Model.ShowTime.Date.ToString("d MMMM yyyy")
                }
                @Model.ShowTime.ToString(" HH:mm")
            }
        </p>

    </div>

    <hr>

    @using (Html.BeginForm("SelectedSeats", "Bookings"))
    {
        <form id="bookingSelector" asp-action="Booking" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="seat-checkbox-wrap">
                    <div class="seat-checkbox-container">
                        @foreach (Bookable_Seats seat in Model.Bookable_Seats)
                        {

                            if (seat.Booking == null)
                            {
                                <input type="checkbox" onclick="RenderPartialViews()" class="seat-checkbox seat-checkbox-unbooked" value="@seat.Bookable_SeatsID" name="selectedSeats">

                            }
                            else
                            {
                                <input type="checkbox" class="seat-checkbox" disabled="disabled">
                            }
                        }
                    </div>
                </div>
                <input type="hidden" asp-for="ShowID" name="id" />
            </div>
        </form>
    }

    <p class="seat-count"></p>
    <hr>
    <div id="partialSelectedSeats"></div>
    <partial name="~/Views/Shows/BookingLoginLogout.cshtml" model="new UserLoginModel()"/>
    <div id="partialConfirm" style="-webkit-filter:drop-shadow(4px); color: white;"></div>

</div>


<script>
    var checkboxes = document.querySelectorAll(".seat-checkbox-unbooked");
    // add checkboxLogic to all checkboxes for unbooked seats
    for (var i = 0; i < checkboxes.length; i++) {
      console.log(checkboxes[i]);
      checkboxes[i].onchange = checkboxLogic;
    }
       
    RenderPartialViews()
    
    
    
    function UpdateLoginLogout() {
      $.ajax({
        url: "../../Shows/BookingLoginLogout",
        type: "get",
        success: function (result) {
          $("#partialLoginLogout").html(result);
        },
      });
    }
    
    function RenderPartialViews(){
      $.ajax({
        url: "../../Bookings/SelectedSeats",
        type: "get",
        data: $("form").serialize(),
        success: function (result) {
          $("#partialSelectedSeats").html(result);
        },
      });
      $.ajax({
        url: "../../Bookings/Confirm",
        type: "get",
        data: $("form").serialize(),
        success: function (result) {
          $("#partialConfirm").html(result);
        },
      })
    }



   
    function checkboxLogic() {
      var count = 0;
      var checkboxes = document.querySelectorAll(".seat-checkbox-unbooked");
      //for each checkbox if checkbox is checked, count
      for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
          count++;
        }
      }
      // if count is 12 or more, disable all checkboxes that are not checked
      if (count >= 12) {
        for (var i = 0; i < checkboxes.length; i++) {
          if (!checkboxes[i].checked) {
            checkboxes[i].disabled = true;
          }
        }
      } else {
        // enable all checkboxes
        for (var i = 0; i < checkboxes.length; i++) {
          checkboxes[i].disabled = false;
        }
      }
    }

</script>