@model BerrasBio.Models.Movie
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<link rel="stylesheet" href="~/images/movie_poster/" asp-append-version="true" />

<div id="background-poster" class="bg-image"
     style="background-image: url('../../@Model.Image_Source') ">
</div>

<div class="movie" style="text-align: center;">
    <img id="poster" src="../../@Model.Image_Source">
    <a style="text-decoration: none;" href="@Url.Action("Details", "Movies", new { id = Model.MovieID })">
        <div style="color: white;" class="p-2 px-3 text-uppercase"><h5>@Model.Title</h5></div>
    </a>
    <p  style="color: white;" class="p-2 px-3 text-uppercase">
        @TimeSpan.FromSeconds(Model.Length).TotalMinutes minuter
    </p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                <h5 class="p-2 px-3 text-uppercase">Tid</h5>
            </th>
            <th>

            </th>
            <th>
                <h5 class="p-2 px-3 text-uppercase">Biljetter</h5>
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var sortedShows = Model.Shows.OrderBy(s => s.ShowTime);
            foreach (Show show in sortedShows)
            {
                if (show.ShowTime >= DateTime.Now)
                {
                    <tr>
                        <td>
                            <h6 class="p-2 px-3 text-uppercase">@show.ShowTime.ToString("HH:mm")</h6>

                        </td>
                        <td>
                            <h6 class=" p-2 px-2 text-uppercase">
                                @{
                                    var daysUntilShow = (DateTime.Today - show.ShowTime.Date).TotalDays;
                                    @if (daysUntilShow == 0)
                                    {
                                        @:Idag
                                    }
                                    else if (daysUntilShow == -1)
                                    {
                                        @:Imorgon
                                    }
                                    else if (daysUntilShow >= -6)
                                    {

                                        @show.ShowTime.Date.ToString("dddd")
                                        ;
                                    }
                                    else
                                    {
                                        @show.ShowTime.Date.ToString("d MMM yyyy")
                                    }
                                }
                            </h6>

                        </td>
                        <td>
                            <h6 class="p-2 px-3 text-uppercase">

                                @show.Bookable_Seats.Count(a => a.Booking == null)
                                kvar av
                                @Html.DisplayFor(modelItem => show.Bookable_Seats.Count)

                            </h6>

                        </td>
                        <td>

                            <a asp-controller="Shows" asp-action="Booking" asp-route-id="@show.ShowID">
                                <button class="btn btn-primary">Boka</button>
                            </a>
                        </td>
                    </tr>
                }

            }
        }
    </tbody>
</table>


