@model BerrasBio.Models.Movie
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/images/movie_poster/" asp-append-version="true" />

<div class="movie">
    <img id="poster" src="../../@Model.Image_Source">
    <a href="@Url.Action("Details", "Movies", new { id = Model.MovieID })">

        <p>@Model.Title</p>
    </a>
    <p>
        @TimeSpan.FromSeconds(Model.Length).TotalMinutes minuter
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Tid
            </th>
            <th>

            </th>
            <th>
                Biljetter
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
        var sortedShows = Model.Shows.OrderBy(s => s.ShowTime);
        foreach (Show show in sortedShows)
        {
            if (show.ShowTime >= DateTime.Now)
            {
                <tr>
                    <td>
                        @show.ShowTime.ToString("HH:mm")
                    </td>
                    <td class="text-capitalize">
                        @{
                            var daysUntilShow = (DateTime.Today - show.ShowTime.Date).TotalDays;
                            @if (daysUntilShow == 0)
                            {
                                @:Idag
                            }
                            else if (daysUntilShow == -1)
                            {
                                @:Imorgon
                            }
                            else if (daysUntilShow >= -6)
                            {
                                
                                @show.ShowTime.Date.ToString("dddd");
                            }
                            else
                            {
                                @show.ShowTime.Date.ToString("d MMM yyyy")
                            }
                        }
                    </td>
                    <td>
                        @show.Bookable_Seats.Count(a => a.Booking == null)
                        kvar av
                        @Html.DisplayFor(modelItem => show.Bookable_Seats.Count)
                    </td>
                    <td>

                        <a asp-controller="Shows" asp-action="Booking" asp-route-id="@show.ShowID">
                            <button>Boka</button>
                        </a>
                    </td>
                </tr>
            }

        }
        }
    </tbody>
</table>
