@model IEnumerable<BerrasBio.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table style="color: white;" class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.ShowTime)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saloon)
            </th>
            <th>
                Booked / Seat count
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var show in Model)
    {
        <tr>
            <td>
                <h6>
                    @show.ShowTime.ToString("dd MMMM yyyy")
                </h6>
                @Html.DisplayFor(modelItem => show.ShowTime.DayOfWeek)
                @show.ShowTime.ToString("HH:mm:ss")
                
            </td>
            <td>
                <h5>@Html.DisplayFor(modelItem => show.Movie.Title)</h5> @show.MovieID

            </td>
            <td>
                <h5>@show.Saloon.Name</h5> @show.SaloonID

            </td>
            <td>
                <h6>
                    @show.Bookable_Seats.Count(a => a.Booking == null)
                    kvar av
                    @Html.DisplayFor(modelItem => show.Bookable_Seats.Count)
                </h6>

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@show.ShowID">Edit</a> |
                <a asp-action="Details" asp-route-id="@show.ShowID">Details</a> |
                <a asp-action="Delete" asp-route-id="@show.ShowID">Delete</a>
            </td>
        </tr>
    }

</table>
