@model IEnumerable<BerrasBio.Models.Show>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
        <thead>
            <tr>
                <th>
                    
                        @Html.DisplayNameFor(model => model.ShowTime)
                </th>
                <th>

                        @Html.DisplayNameFor(model => model.Movie)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Saloon)
                </th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.ShowTime)</h3>
                    
            </td>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.Movie.MovieID)</h3>
                    
            </td>
            <td>
                <h3>@item.Saloon.Name</h3> @item.SaloonID
                    
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShowID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShowID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShowID">Delete</a>
            </td>
        </tr>
        <thead>
            <tr>
                <th>
                    Bookable seats
                </th>
                <th>
                    Seat ID
                </th>
                <th>
                    Show ID
                </th>
                <th></th>
            </tr>
        </thead>
            @foreach (Bookable_Seats seat in item.Bookable_Seats)
            {
            <tr>
                <td>
                    <p>@seat.Bookable_SeatsID</p>
                </td>
                <td>
                    <p>@seat.SeatID </p>
                </td>
                <td>
                    <p>@seat.ShowID</p>
                </td>
                <td>
                    <a asp-controller="AdminTool_Bookable_Seats" asp-action="Edit" asp-route-id="@seat.Bookable_SeatsID">Edit</a> |
                    <a asp-controller="AdminTool_Bookable_Seats" asp-action="Details" asp-route-id="@seat.Bookable_SeatsID">Details</a> |
                    <a asp-controller="AdminTool_Bookable_Seats" asp-action="Delete" asp-route-id="@seat.Bookable_SeatsID">Delete</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
